In [8]:
import numpy as np
import random
import pandas as pd

#Define Dataset
x = np.random.normal(loc= 250.0, size=10000)
#Population Mean
print(np.mean(x))

sample_mean = []
for i in range(50):
  y = random.sample(x.tolist(), 4)
  avg = np.mean(y)
  sample_mean.append(avg)
#mean of the mean of the samples
pd.DataFrame(sample_mean).describe()

250.0051134680494

                0
count   50.000000
mean   249.984643
std      0.493206
min    248.971924
25%    249.606659
50%    250.012414
75%    250.358446
max    251.150118

In [14]:
import scipy.stats as stats

In [20]:
#stats.binom.pmf(2, n=5, p=0.1)
print(stats.binom.cdf(2, n=5, p=0.1))

0.99144